main.main > * {
  @apply mx-auto;
}

main.main{
  > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide):not(article) {

  }

  *:not(.alignfull) > .wp-block-group {
    @apply px-8;
  }

  ol,
  ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 1em;
    margin-inline-end: 0;
    padding-inline-start: 40px;
  }

  ol {
    list-style-type: decimal;
  }

  ul {
    list-style-type: disc;
  }

  p:not(.form-row),
  h2,
  h3,
  h4,
  h5,
  h6,
  ol,
  ul:not(.wc-block-grid__products, .gform_fields, .page-numbers),
  .wp-block-buttons,
  .gform_confirmation_wrapper  {
    @apply max-w-3xl mx-auto #{!important};
  }
}

[class*="__inner-container"]
> *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide):not(.wp-block-yoast-seo-local-map):not(.n2-section-smartslider) {
  @apply max-w-2xl;
  width: 100%;
}

.alignnone,
.aligncenter,
.alignleft,
.alignright,
.alignwide {
  margin-top: 0rem;
  margin-right: auto;
  margin-bottom: 0rem;
  margin-left: auto;
}

[class*="__inner-container"]
> *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright) {
  margin-left: auto;
  margin-right: auto;
}

.alignfull {
  margin-right: auto;
  margin-left: auto;
  position: relative;
  max-width: 100vw;
  width: 100%;
}

[class*="__inner-container"] > .alignfull {
  max-width: 100%;
}

.alignwide {
  position: relative;
  max-width: theme("screens.xl");
  width: calc(100% - 4rem);
}

[class*="__inner-container"] > .alignwide {
  width: 100%;
}

.aligncenter,
.aligncenter img {
  margin-left: auto;
  margin-right: auto;
}

.alignleft,
.alignright {
  max-width: 50%;
}

.alignleft {
  float: left;
  margin: 0.3rem 2rem 2rem 2rem;
}

.alignright {
  float: right;
  margin: 0.3rem 2rem 2rem 2rem;
}

[class*="wp-block"].alignfull:not(.has-background)
[class*="__inner-container"]
> .alignleft,
[class*="wp-block"].alignfull:not(.has-background)
[class*="__inner-container"]
> p
.alignleft,
[class*="wp-block"].alignfull:not(.has-background)
[class*="__inner-container"]
> .wp-block-image
.alignleft {
  margin-left: 2rem;
}

[class*="wp-block"].alignfull:not(.has-background)
[class*="__inner-container"]
> .alignright,
[class*="wp-block"].alignfull:not(.has-background)
[class*="__inner-container"]
> p
.alignright,
[class*="wp-block"].alignfull:not(.has-background)
[class*="__inner-container"]
> .wp-block-image
.alignright {
  margin-right: 2rem;
}

.alignfull > figcaption,
.alignfull > .wp-caption-text {
  margin-left: auto;
  margin-right: auto;
  @apply max-w-2xl;
  width: calc(100% - 4rem);
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
.sidebar,
main .search-form,
.alert,
.wp-block-buttons,
table {
  @apply w-full mx-auto pb-4;
  @media (min-width: theme("screens.sm")) {
    max-width: theme("screens.sm");
  }
  @media (min-width: theme("screens.md")) {
    max-width: theme("screens.md");
  }
  @media (min-width: theme("screens.lg")) {
    max-width: theme("screens.lg");
  }
  @media (min-width: theme("screens.xl")) {
    max-width: theme("screens.xl");
  }
}

figure {
  @apply pb-0 m-0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @media (max-width: theme("screens.md")) {
    font-size: 90%;
  }
}

h1 {
  @apply text-5xl leading-11 font-black;
  @screen lg {
    @apply text-6xl leading-12;
  }
}

h2 {
  @apply text-4xl leading-10;
  @screen lg {
    @apply text-5xl leading-11;
  }
}

h3 {
  @apply text-3xl;
  @screen lg {
    @apply text-4xl;
  }
}

h4 {
  @apply text-2xl;
  @screen lg {
    @apply text-2xl;
  }
}

h5 {
  @apply text-xl;
  @screen lg {
    @apply text-xl;
  }
}

h6 {
  @apply text-base;
  @screen lg {
    @apply text-xl;
  }
}

.wp-block-table {
  table {
    border: 0.1rem solid #dcd7ca;
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    font-size: 1.6rem;
    margin: 4rem 0;
    max-width: 100%;
    overflow: hidden;
    width: 100%;
  }

  .alignleft > table {
    margin: 0;
  }

  .alignright > table {
    margin: 0;
  }

  th,
  td {
    border: 0.1rem solid #dcd7ca;
    line-height: 1.4;
    margin: 0;
    overflow: visible;
    padding: 0.5em;
  }

  caption {
    background: #dcd7ca;
    font-weight: 600;
    padding: 0.5em;
    text-align: center;
  }

  thead {
    vertical-align: bottom;
    white-space: nowrap;
  }

  th {
    font-weight: 700;
  }
}
